@import 'menu/styles_main.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #1B1726;
}
img{
    max-width: 100%;
    height: 230px;
    object-fit: cover;

}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.footer-txt{
    text-align: center;
    margin-top: 100px;
    border-top: 1px solid #b4b4b47e;
    padding: 20px 0;
}

.footer-txt p{
    color: #ffffff;
    font-size: 20px;
    font-family: inherit;
}



.searchBox {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 1200px;
    align-items: center;
    background: #2f3640;
    border-radius: 50px;
    position: relative;
  }
  
  .searchButton {
    color: white;
    position: absolute;
    right: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  }
  /*hover effect*/
  button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
  }
  /*button pressing effect*/
  button:active {
    box-shadow: none;
    transform: translateY(0);
  }
  
  .searchInput {
    width: 98%;
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 15px;
    padding: 24px 46px 24px 26px;
  }
  .seeker{
    margin-top: 50px;


  }



/* -------------------Seccion Gratuitos y Pagos ----------------------------------- */

.card{
    position: relative;
    width: 300px;
    height: 350px;
}
.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
.card .font{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}
.card .font img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:cover;

}
.card .font h3{
    width: 100%;
    bottom: 0;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}
.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(4, 21, 31);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}
.card .back .link{
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;

}
.card .back .link a{
    color:#fff;
    background-color: none;
    padding: 10px 15px 10px 15px;
    border: 1px solid #FF5A2C;
    border-radius: 5px;
    margin: 15px 0 0;
 

}
.card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}
.card .back p{
    letter-spacing: 1px;
}
.card:hover .font {
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

.seccion_categoria{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.card .back .link a:hover{
    border: 2px solid #000;
    color:rgb(255, 255, 255);
    background-color: #FF5A2C;
    transition:all 200ms ease-in-out;
}
/*-------------------------------------------------------------------------------- */

img{
    opacity: 0.8;
    position: absolute;
}
h1{
    margin-top: 30px;
}












@media(max-width:991px){
    .menu-vertical{
        margin-left: 180px;
        transform: translateY(-100px);
        
    }
    .menu .navbar ul li .a_menudespl  a:hover{
        color: #FF5A2C;
    }
    .menu{
        padding: 20px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #FF5A2C;
        display: none;

    }
    .menu .navbar ul li a:hover{
        color: #1B1726;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    h2{
        margin-top: 10px;
        text-align: center;
    }
    h1{
        margin-top: 50px;
    }

    #menu:checked ~  .navbar{
        display: initial;
    }

    .header{
        min-height: 0vh;
        padding: 80px 30px 50px 30px;

    }
    .header-txt{
        text-align: center;
        flex-basis: 100%;

    }
    .header-txt h1{
        font-size: 50px;
        margin-bottom: 15px;
    }
    .buttons{
        justify-content: center;
    }

}