h1{
    color: lightcoral ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    color: #160606;
    font-size: 16px;
}
a{
    color: #ff9900;
    text-decoration: none;
}