body{
    font-family: sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    background-color:#e67e22;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img {
    height: 40px;
    margin-right: 10px;
  }
  .menu {
    background-color: #e67e22;
    display: flex;
    min-height: 10px;
    align-items: center;
    padding: 10px;
  }
  a {
    text-decoration: none;
    color: white;
  }
  nav a {
    font-weight: 600;
    padding-right: 10px;
  }
  nav a:hover {
    color: black;
  }
@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}
div {
    display: flex;
}
